.build
.venv/
*kompiled/
.DS_Store
.pytest_cache/
temp/
.bsp/
.scala-build/
a.*
tmp/
kirct/
.idea/
.vscode/
.mypy_cache/
__pycache__/
dist/
linshi/
src/kcirct/kdist/circt_semantics/*.mlir
src/kcirct/workingdir/kompiled
nohup.out
*.log
tmp.*
src/kcirct/kdist/circt_semantics/test-syntax.kore
src/kcirct/kdist/circt_semantics/test-syntax-no-drop.kore
src/tests/resources/rocket-small/**
!src/tests/resources/rocket-small/rocket-small-1.6-drop.mlir
!src/tests/resources/rocket-small/rocket-small-1.4-drop.mlir
!src/tests/resources/rocket-small/rocket-small-master-drop.mlir
src/tests/resources/modules/host/
src/kcirct/workingdir/parsers/parser_TopLevel_MAIN-SYNTAX
.kcirct/