.build
.venv/
*kompiled/
.DS_Store
.pytest_cache/
temp/
.bsp/
.scala-build/
a.*
tmp/
kirct/
.idea/
.vscode/
.mypy_cache/
__pycache__/
dist/
src/kcirct/kdist/circt_semantics/*.mlir
src/kcirct/workingdir/kompiled
nohup.out
*.log
tmp.*