[submodule "src/tests/resources/arc-test"]
	path = src/tests/resources/arc-test
	url = git@cym.github.com:circt/arc-tests.git
[submodule "src/tests/resources/kcirct-arc-test/inputs"]
	path = src/tests/resources/kcirct-arc-test/inputs
	url = git@github.com:nn020701/k-circt-arc-test-input.git
